/* * {
    border: .5px solid black;
} */

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1 1 auto;
}

.flex-container ul {
    justify-content: flex-end;
}

.flex-item li {
    display: inline;
    justify-self: flex-end;
    text-align: end;
}

.card {
    height: 300px;
    width: 300px;
    min-width: 200px;
    max-width: 450px;
    margin: 10px;
    background-color: bisque;
    border: 1px solid black;
}

section.flex-container {
    justify-content: space-evenly;
}

article {
    position: relative;
    height: 50px;
    text-align: center;
}

article.flex-item {
    flex: 0 1 auto;
}

article header {
    border: .5px solid black;
    height: 50px;
}

article h1 {
    position: relative;
    top: 33.3%
}

footer {
    height: 50px;
    width: 100%;
    background-color: blueviolet;
}

footer h3 {
    position: relative;
    top: 33.3%;
    text-align: center;
    
}


/* .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;
}

.grid-item {
    grid: auto;
} */